@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
body {
  background-color: #d6d6d6;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.playlist {
  /*padding: 50px*/
  background-color: #f77f00;
  width: 500px;
  color: #003049;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0.9rem;
}

.playlist-black h1 {
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
  }

.playlist h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

/* email */
.playlist-form {
  width: 99.8%;
}

.playlist-form input {
  position: relative;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  width: inherit;
  text-align: center;
  background-color: #171b24;
  border: none;
  padding: 13px 0;
  transition: background-color 0.2s ease;
  border-radius: 0.4rem;
}

.playlist-form input:hover {
  
  background-color: #d62828;
}

.playlist-form input:before {
  position: absolute;
  left: 6px;
  top: 2px;
}
/* message */
.playlist-form-des {
  width: 99.8%;
}

.playlist-form-des input {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  width: inherit;
  text-align: center;
  background-color: #171b24;
  border: none;
  padding: 13px 0;
  transition: background-color 0.2s ease;
  border-radius: 0.4rem;
}

.playlist-form-des input:hover {
  
  background-color: #d62828;
}

.playlist-form-des input:before {
  position: absolute;
  left: 6px;
  top: 2px;
  content: "$";
}

.playlist-form-des.selected, .playlist-form.selected{
  background-color: #F2D399;
  border: 0;
}

.playlist-blue {
  background-color: #1e252d;
  padding: 25px;
}

.playlist-submit button {
  font-family: "Oswald", sans-serif;
  width: 100%;
  background-color: #fcbf49;
  border: none;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 0;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.4rem;
}

.playlist-black .lagu{
    flex: 3;
    padding: 10px;
}

.detail{
    display: flex;
    background-color: white;
    align-items: center;
    height: 80px;
    margin: 20px;
    padding: 10px;
    border: 2px solid #003049;
    border-radius: 0.6rem;
}

.detail .name{
    font-weight: 600;
    font-size: 15px;
  }

.detail .artist{
    font-size: 12px;
    opacity: .5;
  }

.detail .album{
    font-weight: 700;
    font-size: 12px;
}

.detail .cover{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 10px;
}
  
.detail p{
    margin: 0;
}
  
.detail .play-button{
    margin-left: auto;
}
  
.play-button button{
    margin-left: 15px;
    margin-right: 15px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #d62828;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
